# Cache do Python (Arquivos compilados)
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Ambientes Virtuais (Virtual Environments)
.venv/
venv/
env/
ENV/

# Cache e arquivos temporários do Python gerados nas migrations
alembic/versions/__pycache__/

# Se você criar algum arquivo de configuração local do alembic com senhas reais
# (exemplo: alembic.local.ini)
alembic.local.ini